{% macro slot(s) -%}
  {%- if s.given -%}
    <span class="slot-given">{{ s.content_html | safe }}</span>
  {%- else -%}
    <span class="slot-blank">&nbsp;</span>
  {%- endif -%}
{%- endmacro %}

{% macro runs(items) -%}
  {%- for item in items -%}
    {%- if item is string -%}
      {{ item }}
    {%- else -%}
      {{ slot(item) }}
    {%- endif -%}
  {%- endfor -%}
{%- endmacro %}
